<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Done!</title>

    <link rel="stylesheet" type="text/css" href="{{cssFile}}">
    <script src="{{jsFile}}"></script>
  </head>
  <body>
  </body>
</html>

